.link {
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }

  .feeling {
    display: flex;
    align-items: center;
  }

  .feeling-icon {
    padding-top: 10px;
  }